
@{
    Layout = null;
}

@model MovieModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <header>
        <h1 style="text-align:center">Movie Registration </h1>
    </header>
    <hr />
    <div style="width:42.5%; display:inline-block">

    </div>
    <div style="display:inline-block; text-align:center">
    <form asp-action="Register" method="post" style="text-align:left">
        <div style="margin:20px">
            <label for="ID" id="ID">ID</label>
            <input name="ID" id="ID" asp-for="@Model.ID" />
        </div>
        
        <div style="margin:20px">
            <label id="Title">Title</label>
            <input id="Title" asp-for="@Model.Title" />
        </div>
     
        <div style="margin:20px">
            <label id="Genre">Genre</label>
            <select asp-for="@Model.Genre" asp-items="Html.GetEnumSelectList<Genres>()"></select>
        </div>
        
        <div style="margin:20px">
            <label id="Year">Year</label>
            <input id="Year" asp-for="@Model.Year" />
        </div>
        
        <div style="margin:20px">
            <label id="Actors">Actors</label>
            <input id="Actors" asp-for="@Model.Actors" />
         </div>
        
        <div style="margin:20px">
            <label id="Directors">Directors</label>
            <input id="Directors" asp-for="@Model.Directors" />
        </div>
        
        <div style="text-align:center">
            <button type="submit"><b>Click to submit</button>
        </div>
        
    </form>
        </div>
</body>
</html>
